body, p {
	font-family: Arial, sans-serif;
	color: #222;
	font-size: 13px;
	text-decoration: none;
}
header {
	font-size: 13px;
}
.hdmenu {
	display: flex;
	float: right;
	white-space: nowrap;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    position: relative;
    align-items: center;
	
}

header a {
    cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
	color: #222;
	font-size: 13px;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}

.login {
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	width: 110px;
}

.hdpad {
	padding-right: 15px;
}
.logo {
	padding-top: 89px;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.search {
    margin-right: 14px;
    text-indent: 0px;
    display: block;
    text-align: start;
    font: 400 13.3333px Arial;
    border-style: none;
    height: 37px;
    width: 490px;
 	outline: none;

}
.srchdiv {
	position: relative;
	top: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 590px;
    background-color: #fff;
    height: 44px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
     vertical-align: bottom;  

  
}
.voice {
	display: inline-block;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
  
}

.buttons {
	padding-top: 25px;
    width: 590px;
    position: relative;
    display: block;
    border-style: none;
    text-align: -webkit-center;
    margin-top: 30px;


}

.buttons input {

	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 9px 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
}
footer {
	background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    height: auto;
    
 }

 .loc p {

 	color: #757575;
 	padding-left: 27px;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
 	margin: 0;


 }
 .footnav {
 	color: #757575;
 	padding-top: 0;
 }

 footer a {

 	padding-left: 27px;
 	   cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
	color: #222;
	font-size: 13px;
	text-decoration: none;
	color: #757575;
 }

 footer a:hover {
 	text-decoration: underline;
 }

 .leftnav {
 	margin-right: 30px;
 	float: right;
 }